<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="static/styles.css?ver=2">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <!--Jquery and Ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!--Jquery cookie import-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
      // Log in with the given id and pw, get the token from the server and save it to cookie
      function login(){
        $.ajax({
          type: "POST",
          url: "/api/login",
          data: { id_give:$('#userid').val(), pw_give:$('#userpw').val() },
          success: function(response){
            if (response['result'] == 'success'){
              // Save token to cookie as "mmcdtoken"
              $.cookie('mmcdtoken', response['token']);
              window.location.href='/main'
            } else{
              alert(response['msg'])
            }
          }
        })
      }
    </script>
  </head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input type="text" placeholder="username" id="userid"/>
            <input type="password" placeholder="password" id="userpw"/>
            <button onclick="login()">login</button>
            <p class="message">Not registered? <a href="{{ url_for('create') }}">Create an account</a></p>
          </form>
        </div>
      </div>
</body>
</html>