<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Mad Coop Diary</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css?ver=90">
    <!--Jquery and Ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!--Jquery cookie import-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>
    <div id="header_navbar">
        <div class="header">
            <span id="mmcd">My Mad Coop Diary</span>
                <button class="logout_btn" onclick="logout()">Log Out</button>
        </div>
        <div class="navbar_menu">
            <form action="/senduserid" method="get">
                <button type="submit" class="navbar_btn" id="applied" name="applied">Applied</button>
                <button type="submit" class="navbar_btn" id="phone" name="phone">Phone screening/Assessment</button>
                <button type="submit" class="navbar_btn" id="interview" name="interview">Interview Offer</button>
                <button type="submit" class="navbar_btn" id="job" name="job">Job Offer</button>
                <button type="submit" class="navbar_btn" id="declined" name="declined">Declined</button>
                <button type="submit" class="navbar_btn" id="ghosted" name="ghosted">Ghosted</button>
            </form>
        </div>
    </div>
    <div class="log_app_area">
        <button class="log_app_btn" onclick="openForms()">Log application</button>
    </div>
    <form class="form-popup" id="myForms">
        <div class="form-container">
          <h2>Log Application</h2>
      
          <label for="title"><b>Title</b></label>
          <input type="text" id="title" name="title" required>
      
          <label for="company"><b>Company</b></label>
          <input type="text"  id="company" name="company"  required>
      
          <label for="location"><b>Location</b></label>
          <input type="text"  id="potato" name="location" required>
      
          <label for="date"><b>Date</b></label>
          <input type="date" id="date" name="date" required>
      
          <label for="id"><b>ID</b></label>
          <input type="text" id="id" placeholder="Not required to fill" name="id">

          <button class="btn" id="logapplication_btn">Log</button>
          <button class="btn cancel" onclick="closeForms()">Close</button>
        </div>
    </form>
    <h1 id="gl_user"><span id="usernick"></span>! Search for new jobs here</h1>
    
    <form class="search" action="/report" method="get">
        <input type="text" id="input_job_desc" placeholder="Search by title, skill, or company" name="title"><br>
        <input type="text" id="input_location" placeholder="Location" name="location"><br>
        <button type="submit" class="search_btn" name="action" value="i">Indeed</button>
        <button type="submit" class="search_btn" name="action" value="s">Stackoverflow</button>
    </form>

    <h3 id="user_statistics">You have applied to <span id="a_num"></span> jobs so far. <br>
        However, <span id="g_num"></span> companies ghosted you. <br>
        You got a chance to do phone screening or assesment <span id="p_num"></span> times. <br>
        You got <span id="i_num"></span> interview offers. <br>
        <span id="d_num"></span> places declined you though. <br>
        Finally, you got job offers from <span id="j_num"></span> places. 
    </h3>
</body>
<script>
    $(document).ready(function(){
        load_user_info()
    });

    function load_user_info(){
        $.ajax({
            type: "GET",
            url: "/api/validtoken",
            headers: { 'token_give' : $.cookie('mmcdtoken') },
            data: {},
            success: function(response){
                // Log in time is not expired  
                if (response['result'] == 'success'){
                    statistics = response['statistics']
                    nickname = statistics['nickname']
                    $('#usernick').text(nickname)
                    $('#a_num').text(statistics['a_num'])
                    $('#p_num').text(statistics['p_num'])
                    $('#i_num').text(statistics['i_num'])
                    $('#j_num').text(statistics['j_num'])
                    $('#d_num').text(statistics['d_num'])
                    $('#g_num').text(statistics['g_num'])
                    userid = response['userinfo']['id']
                    localStorage.setItem('mmcdID', userid);
                    $('#applied').val(userid)
                    $('#phone').val(userid)
                    $('#interview').val(userid)
                    $('#job').val(userid)
                    $('#declined').val(userid)
                    $('#ghosted').val(userid)
                // Log in time is expired
                } else{
                alert(response['msg'])
                localStorage.removeItem('mmcdID');
                window.location.href='/'
                }
            }
        })
    }

    $("#logapplication_btn").on("click", logapplication); // click button
    function logapplication(event) {
        // tells the browser not to submit the form as an ordinary html form
        // i am handling it here!!
        event.preventDefault();
        mmcdID = localStorage.getItem('mmcdID')
        title = $('#title').val();
        company = $('#company').val();
        potato = $('#potato').val();
        date = $('#date').val();
        id = $('#id').val();
        if(title =="" || company=="" || potato=="" || date=="") {
            alert("Please fill all the required fields")
        } else {
            $.ajax({
                type: "POST",
                url: "/api/logapplication",
                data: { userid_give: mmcdID, title_give:title, company_give:company, location_give:potato, date_give:date, id_give:id},
                success: function(response){
                    if (response['result'] == 'success'){
                        alert("The application is logged successfully to Applied section");
                        closeForms();
                    } else {
                        alert("Server cannot save the application")
                    }
                }
            })
        }
    }

    // Functions for log application button with pop up
    function openForms() {
        document.getElementById("myForms").style.display = "block";
    }
    
    function closeForms() {
        $('#title').val("");
        $('#company').val("");
        $('#potato').val("");
        $('#date').val("");
        $('#id').val("");
        document.getElementById("myForms").style.display = "none";
    }

    // Remove cookie from the browser and redirect user to login page
    function logout(){
        $.removeCookie('mmcdtoken');
        localStorage.removeItem('mmcdID');
        window.location.href='/' 
    }
</script>
</html>