<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone</title>
    <link rel="stylesheet" href="static/styles.css?ver=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header_navbar">
        <div class="header">
            <a href="#" id="mmcd">My Mad Coop Diary</a>
            <form action="/main" method="get">
                <button type="submit" id="logout_btn">To main</button>
            </form>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_menu_item"><a href="{{ url_for('applied') }}">Applied</a></li>
            <li class="navbar_menu_item" id="current_page">Phone screening/Assessment</li>
            <li class="navbar_menu_item"><a href="{{ url_for('interview') }}">Interview Offer</a></li>
            <li class="navbar_menu_item"><a href="{{ url_for('job') }}">Job offer</a></li>
            <li class="navbar_menu_item"><a href="{{ url_for('declined') }}">Declined</a></li>
            <li class="navbar_menu_item"><a href="{{ url_for('ghosted') }}">Ghosted</a></li>
        </ul>
    </div>
    <div class="process_btns">
        <button class="process_btn">Interview Offer</button>
        <button class="process_btn">Job Offer</button>
        <button class="process_btn">Declined</button>
        <button class="process_btn">Ghosted</button>
        <button id="delete_btn">Delete</button>
    </div>
    <section class="process_grid">
        <h3>#</h3>
        <h3>Title</h3>
        <h3>Company</h3>
        <h3>Location</h3>
        <h3>Date</h3>
        <h3>ID</h3>
    </section>   
    <div id="applied_jobs">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1">Title: Developer Intern, Company: Google, Location: Toronto, CA, Application date: 21/05/06</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2"> I have a car</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3"> I have a boat</label><br><br>

    </div>
</body>
</html>