<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="static/styles.css?ver=102">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <!--Jquery and Ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!--Jquery cookie import-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        $(document).ready(function(){
            load_user_info()
        });

        function load_user_info(){
            $.ajax({
                type: "GET",
                url: "/api/validtoken",
                headers: { 'token_give' : $.cookie('mmcdtoken') },
                data: {},
                success: function(response){
                    // Log in time is not expired  
                    if (response['result'] != 'success'){
                        alert(response['msg'])
                        localStorage.removeItem('mmcdID');
                        window.location.href='/'
                    }
                }
            })
        }

        function logapplication(jobID){
            mmcdID = localStorage.getItem('mmcdID')
            title = $("#"+jobID+" input[name=title]").val();
            company = $("#"+jobID+" input[name=company]").val();
            potato = $("#"+jobID+" input[name=potato]").val();
            date = $("#"+jobID+" input[name=date]").val();
            id = $("#"+jobID+" input[name=id]").val();
            if(title =="" || company=="" || potato=="" || date=="") {
                alert("Please fill all the required fields")
            } else {
                $.ajax({
                    type: "POST",
                    url: "/api/logapplication",
                    data: { userid_give: mmcdID, title_give:title, company_give:company, location_give:potato, date_give:date, id_give:id},
                    success: function(response){
                        if (response['result'] == 'success'){
                            alert("The application is logged successfully to Applied section");
                            closeForm();
                        } else {
                            alert("Server cannot save the application")
                        }
                    }
                })
            }
        }

        var j = null;
        function openForm(jobId) {
          document.getElementById(jobId).style.display = "block";
          j = jobId;
        }
        
        function closeForm() {
          document.getElementById(j).style.display = "none";
        }

        function main() {
            window.location.href='/main'
        }
    </script>  
</head>
<body>
    <div class="result_header">
        <div id="result_info">
            <h2 id="search_result">Search result from {{job_site}}</h2>
            <h4 class="no_margin">Found results for keyword {{job_title}} and location {{job_location}}</h4>
            {% if job_site == "Stackoverflow" %}
                <h5 class="no_margin">Jobs you might be interested are also included in the result</h5>
            {% endif %} 
        </div>
        <div id="result_btn">
            <button class="result_header_btn" onclick="main()">Back to main</button>
        </div>
    </div>
    {% if jobs|length == 0 %}
        <h3 id="no_result">No relevant result found</h3>
    {% else %}    
        <section class="result_grid">
            <h3>Title</h3>
            <h3>Company</h3>
            <h3>Location</h3>
            <h3>Description</h3>
            <h3>Apply</h3>
            <h3>Log Application</h3>
            {% for job in jobs %}
                    <span>{{job.title}}</span>
                    <span>{{job.company}}</span>
                    <span>{{job.location}}</span>
                    <span>
                        <form action="/forward" method="get" target="_blank">
                            <button class="result_btns" name="'{{job_site}}'+'desc'" value="{{job.id}}" type=submit>Description</button>
                        </form>
                    </span>
                    <span>
                        <form action="/forward" method="get" target="_blank">
                            <button class="result_btns" name="'{{job_site}}'+'link'" value="{{job.id}}" type=submit>Apply</button>
                        </form>
                    </span>
                    <span>
                        <button class="result_btns" id="open" onclick="openForm('{{job.id}}')" value="{{job.title}}">Open Form</button>
                    </span>
                    <div class="form-popup" id="{{job.id}}">
                        <div class="form-container">
                            <h2>Log Application</h2>
                        
                            <label for="title"><b>Title</b></label>
                            <input type="text" name="title" value="{{job.title}}" required>
                        
                            <label for="company"><b>Company</b></label>
                            <input type="text"  name="company" value="{{job.company}}" required>
                        
                            <label for="location"><b>Location</b></label>
                            <input type="text"  name="potato" value="{{job.location}}" required>
                        
                            <label for="date"><b>Date</b></label>
                            <input type="date" id="date" name="date" required>
                        
                            <label for="id"><b>ID</b></label>
                            <input type="text" placeholder="Not required to fill" name="id">
                        
                            <button onclick="logapplication('{{job.id}}')" class="btn">Log</button>
                            <button class="btn cancel" onclick="closeForm()">Close</button>
                        </div>
                </div>
            {% endfor %}
        </section>
    {% endif %}     
    <br>
    <br>
</body>
</html>